@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Aly's Ballon</h1>
    <a>Aqui Comenzara la pagina web</a>
    <h1>Hola</h1>

    <div>

    </div>

</div>
